* {
    padding: 0;
    margin: 2px;
    box-sizing: border-box;
}
.btn {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    height: 100%;
}

body {
  height: 100%;
}

nav {
    width: 100%;
    display: flex;
    
}

.navigation-header {
    display: flex;
    height: 15%;
    width: 100%;
    box-shadow: rgba(0,0,0, 0.3) 0px 3px;
}

.navigation-app-data {
    height: 100%;
    width: 100%;
    display: flex;

}

.app-logo {
    display:flow;
    align-items: top;
    justify-content: left;
    height: 100%;
    width: 10%;
    
    
}

.app-logo > img {
    padding: 10px;
}

.app-name {
    display: flex;
    width: 90%;
    align-items: center;
}

.navigation-options {
    height: 100%;
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    .navigation-options > h6 {
        margin: 0;
    }

.main-content {
    display: flex;
    width: 100%;
    margin-top: 3px;
    height: calc(80% - 3px);
    border-bottom: 2px solid black;

}

.footer {
    display: flex;
    width: 100%;
    height: 8%;
}

.navigation-menu {
    display: flex;
    width: 15%;
    height: 100%;
    border-right: 2px solid black;
    align-items: center;
}

    .navigation-menu .user-info {
        display: flex;
        margin: 5px;
        height: 70px;
    }

        .navigation-menu .user-info .user-foto {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
        }

        .navigation-menu .user-info .user-section {
            display: flex;
            margin: 5px;
            justify-content: center;
            flex-direction: column;
            width: calc(100% - 50px);
        }

hr {
    margin: 0;
    color: white;
}

ul {
    list-style: none;
    padding: 10px;
    margin: 0;
}

.main-menu {
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .main-menu .menu-item {
        border-radius: 5px;
        height: 60px;
        display: flex;
    }

        .main-menu .menu-item:hover {
            background-color: rgb(255, 255, 255, 0.2);
        }

        .main-menu .menu-item:active {
            background-color: rgb(255, 255, 255, 0.5);
        }

.content {
    width: 80%;
    padding: 10px;
}

.menu-item > a {
    font-weight: 700;
    padding: 5px;
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}