@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="row">
<div class="col -12">
    <img src="~/img/estudiantes.jpg" class="img-fluid">
</div>
<div class="formulogin">
<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">Nunca compartiremos tu correo electrónico con nadie más.</div>
  </div >
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Recuerda Mis Datos</label>
  </div>
  <div class="mb-bt1">
<button type="submit" class="btn btn-primary">Entrar</button>
  </div>
  
</form>
</div>