<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EducApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AulaEducativa.App.Presentacion.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/wwwroot/favicon.ico" />
</head>
  <body>
   <nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
     <img src="~/icons/LogoEducaApp.png" height="100" width="100"alt=""class="d-inline-block align-text-center">
     </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Acerca de EducApp
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">¿Donde Estamos?</a></li>
            <li><a class="dropdown-item" href="#">Mision</a></li>
            <li><a class="dropdown-item" href="#">Vision</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/PerfilEstudiante">Estudiantes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Profesores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contacto</a>
        </li>
      </ul>
        <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
      <div class="navigation-options">
        <a href="/">
        <img src="~/icons/Raster.png" height="30" width="30"/></a>
    </div>
  </div>
</nav>
<div class = "container-fluid">
    <main role="main">@RenderBody()</main>
    </div>
    <div>
    <footer class="footer">&copy; 2022 - Aula Educativa - Grupo 47 - Grupo 4</div></footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
    </body>
    </html>